parameters:
    tmpDir: var/cache/phpstan

    paths:
        - bin
        - public
        - src
        - tests

    level: 6

    ignoreErrors:
        - message: '/condition is always true/'
          path: src/Infrastructure/Kernel.php
        - message: '/no value type specified in iterable type/'
          paths:
            - src/Infrastructure/Http/Form/UploadType.php
            - tests/**/*Test.php
