includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    tmpDir: var/cache/phpstan

    checkMissingIterableValueType: false

    paths:
        - bin
        - bootstrap.php
        - public
        - src
        - tests

    level: 8

    symfony:
        containerXmlPath: var/cache/test/Radarlog_Doop_Infrastructure_KernelTestDebugContainer.xml
