<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="var/cache/phpunit.cache"
         colors="true"
         executionOrder="random"
         verbose="true"
>
    <testsuites>
        <testsuite name="Doop Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" cacheDirectory="var/cache/phpunit/" disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Infrastructure/Sql/Migrations/</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
