<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<h1>S3Uploader</h1>

<div id="upload">
	{{ include('form.html.twig') }}
</div>

<ul id="list">
	{% for key, image in images %}
		<img src="{{ image }}" alt="{{ key }}"/>{{ key }}<br/>
	{% endfor %}
</ul>
</body>
</html>
