<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('doop') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <h1>Doop</h1>

    <div class="row">
        <div class="col-5">
            {{ include('form.html.twig') }}
        </div>
    </div>

    <div class="row">
        {{ include('list.html.twig') }}
    </div>
</div>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('doop') }}
{% endblock %}
</body>
</html>
